*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content { 
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 29px;
}

.result__video-container { 
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

.result__video { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container { 
  height: 298px;
  overflow: auto;
  display: flex; 
  flex-direction: column;
  gap: 30px;
}

.content__details { 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__list { 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card { 
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail { 
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container { 
  flex-grow: 1;
  color: #fff;
}

.search-form__fieldset-title{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__video-card-title { 
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;  
  width: 194px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16.2px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link:active {
  background-color: #545050;;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-skip-ink: none;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline;
  line-height: 16.2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.content__list-item {
  padding: 0 3px;
}

.button,
.search-form__label,
.content__card-link {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  appearance: none;
  outline: none;
  width: 225px;
  appearance: none; 
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:focus) {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 2px solid #545050;
  outline-offset: 1px;
}

.search-form__checkbox:focus:not(:focus-visible) + .search-form__pseudo-checkbox {
  outline: none;
}

.button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 74px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  padding: 6px 0;
}